/* Safari 6.1-10.0 (not 10.1) */

@media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio:0) {
  ::i-block-chrome,
  body {
    border: 33px solid red !important;
  }
}

/* Safari 10.1+ */

@media not all and (min-resolution: 0.001dpcm) {
  ::i-block-chrome,
  body {
    border: 33px solid red !important;
  }
}

/* Safari 11+ */

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    ::i-block-chrome,
    body {
      border: 33px solid red !important;
    }
  }
}
