@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('TiemposFine-Light.woff2') format('woff2'),
        url('TiemposFine-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

