html,
body,
div,
section {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

section {
  max-width: 100vw;
  overflow: hidden;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

::-moz-selection {
  /* Firefox */

  background: transparent;
}

::selection {
  background: transparent;
}

@import './scss/base/colors';
@import './scss/base/typography';
@import './scss/base/classes';

@import './scss/abstracts/variables';
@import './scss/abstracts/mixins';

@import './scss/vendors/bootstrap';

@import './scss/layout/navigation';
@import './scss/layout/header';
@import './scss/layout/footer';
@import './scss/layout/forms';

@import './scss/components/buttons';
@import './scss/components/icons';
@import './scss/components/main-menu';
@import './scss/components/top-bar';
@import './scss/components/blank-hero';
@import './scss/components/scroll-gallery';
@import './scss/components/influencers';
@import './scss/components/cases';

@import './scss/pages/home';
@import './scss/pages/over-ons';

// dev
@import './scss/abstracts/debug';
