@font-face {
    font-family: 'HelveticaLTW01-Roman';
    src: url('HelveticaLTW01-Roman.woff2') format('woff2'),
        url('HelveticaLTW01-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaLTW01-Roman';
    src: url('HelveticaLTW01-Roman.woff2') format('woff2'),
        url('HelveticaLTW01-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaLTW01-Roman';
    src: url('HelveticaLTW01-Roman.woff2') format('woff2'),
        url('HelveticaLTW01-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

