html {
  --color: transparent;
  --footer-bg-color: #214c2c;
}

body.frontpage {
  // background-color: red;
}

body {
  background: var(--color);
}

.gsap__section-indicator-home-page {
  opacity: 1;
}

.hello {
  height: 100vh;
  padding-bottom: 20px;
  // background-color: $fioletLight;
  position: relative;
  padding: 40px;

  .logo_big {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0);
  }

  &__logo-trigger {
    position: absolute;
    top: 10%;
    width: 20px;
    height: 20px;
    left: 20px;
    border: 1px dashed;
  }

  &--get-started-area {
    @include media-breakpoint-only(xs) {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
    }
    height: auto;
    font-size: 16px;
    color: $mainGreen;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

//

.who-we-are {
  min-height: 100vh;
  padding: 20px;

  @include media-breakpoint-up(md) {
    padding: 40px;
  }

  &--title-wrapper {
    padding-top: 15vh;
    @include media-breakpoint-up(lg) {
      padding-top: 60px;
    }

    @include media-breakpoint-up(xxl) {
      padding-top: 160px;
    }
  }

  &--title {
    font-size: 55px;
    line-height: 55px;
    color: $mainGreen;
    transform: scale(0.6);
    transform-origin: left;
    max-width: 780px;

    @include media-breakpoint-up(md) {
      transform: scale(0.9);
      font-size: 70px;
      line-height: 70px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 85px;
      line-height: 85px;
      transform: scale(1);
      max-width: 780px;
    }

    &-row-2 {
      @include media-breakpoint-up(xl) {
        margin-left: -20px;
      }
    }
  }

  .m-sign-before {
    &::before {
      content: '';
      background-image: url(./../../public/assets/img/logo/m-sign/m.svg);
      width: 63px;
      height: 47px;
      display: inline-block;
      position: relative;
      left: 17px;
      top: -2px;

      @include media-breakpoint-up(xl) {
        transform: scale(1);
        left: 17px;
        top: -2px;
      }
    }
  }

  &--subtitle {
    max-width: 280px;
    padding-top: 50px;
    @include media-breakpoint-up(md) {
      max-width: 300px;
    }
  }

  .m-letter {
    img {
      width: 65px;
      height: 52px;
      position: relative;
      top: 3px;

      @include media-breakpoint-up(lg) {
        position: relative;
        top: -39px;
      }
    }
  }

  .content-and-arrow__who-we-are-section {
    @include media-breakpoint-up(lg) {
      margin-top: 80px;
    }
  }
}

//

.home-manage {
  position: relative;
  height: 100vh;

  &--text-block {
    padding-top: 15vh;
    font-size: 16px;
    text-transform: uppercase;
    color: $yellow;
    width: 200px;
    @include font-sans;

    @include media-breakpoint-up(lg) {
      padding-top: 180px;
    }
  }

  &--title {
    color: $yellow;
    font-size: 83px;
    // position: absolute;
    position: fixed;
    left: 20px;
    bottom: 20px;
    @include font-serif;
    z-index: 9999;

    @include media-breakpoint-up(lg) {
      font-size: 130px;
      // top: 30px;
      left: 20px;
      left: initial;
      // border: 2px dashed red;
    }
  }

  .content-and-arrow {
    @include media-breakpoint-down(md) {
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      position: absolute;
      left: -50px;
      top: 50%;
      transform: translate(0, -50%);
      margin-top: 0 !important;
    }

    @include media-breakpoint-down(lg) {
      margin-top: 100px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 100px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 150px;
    }
    @include media-breakpoint-up(xxxl) {
      margin-top: 250px;
    }

    color: $yellow;
  }
}

//
.manage-gallery {
  background-color: $lightGray;
  position: relative;

  @include media-breakpoint-up(md) {
    overflow: hidden;
    min-height: 100vh;
  }

  &--title-wrapper {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }

  &--title {
    p {
      font-size: 70px;
      line-height: 70px;
      color: $mainGreen;
      @include font-serif;

      @include media-breakpoint-up(sm) {
        font-size: 83px;
        line-height: 83px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 130px;
        line-height: 130px;
      }
    }
  }

  &--subtitle {
    width: 300px;
    padding-top: 15vh;
    @include media-breakpoint-up(lg) {
      padding-top: 180px;
    }
  }

  .content-and-arrow {
    @include media-breakpoint-down(md) {
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translate(0, -50%);
      margin-top: 0 !important;
    }

    @include media-breakpoint-down(lg) {
      margin-top: 100px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 120px;
    }
    @include media-breakpoint-up(xxl) {
      margin-top: 250px;
    }

    color: $mainGreen;
  }

  &--gallery {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 20px;
    // position: relative;
    display: grid;
    grid-column-gap: 28px;
    grid-row-gap: 28px;
    grid-template-columns: 65vw;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'photo1 '
      'photo2'
      'photo3';

    // @include media-breakpoint-only(xs) {
    //   left: 15vw;
    // }

    @include media-breakpoint-up(md) {
      margin-right: 0px;
      display: grid;
      grid-column-gap: 28px;
      grid-row-gap: 28px;
      grid-template-columns: 290px 290px;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        'photo1 photo2'
        'photo1 photo3';
    }

    @include media-breakpoint-up(lg) {
      padding-right: 50px;
      padding-top: 100px;
      padding-bottom: 100px;
      position: relative;
    }

    @include media-breakpoint-up(xl) {
      padding-top: 15vh;
    }

    @include media-breakpoint-up(xxl) {
      // padding-right: 100px;
      // padding-top: 100px;
      // padding-bottom: 100px;
      grid-template-columns: 340px 340px;
    }

    .manage-gallery {
      &--item {
        // width: 291px;
        height: 360px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        // margin: 15px;

        @include media-breakpoint-up(lg) {
          margin: 0;
        }

        @include media-breakpoint-up(xxxl) {
          // width: 340px;
          height: 460px;
        }

        &:hover {
          .manage-gallery--item--content {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 1 !important;
            @include default-transition;
          }
        }

        &--content {
          border-radius: 20px;
          width: 95%;
          height: 95%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          text-transform: uppercase;
          color: $yellow;
          opacity: 0;
          @include default-transition;
        }

        &-1 {
          grid-area: photo1;
          @include media-breakpoint-up(lg) {
            position: relative;
            top: 25%;
          }
        }
        &-2 {
          grid-area: photo2;
        }
        &-3 {
          grid-area: photo3;
        }
      }

      div {
        display: flex;
        flex-direction: column;
        height: 100%;

        @include media-breakpoint-up(md) {
          gap: 20px;
        }
      }
    }
  }
}

//

.make {
  min-height: 100vh;
  padding: 20px;
  background-color: $fioletLight;

  @include media-breakpoint-up(md) {
    padding: 40px;
  }

  &--title-wrapper {
    padding-top: 15vh;
    @include media-breakpoint-up(lg) {
      padding-top: 60px;
    }

    @include media-breakpoint-up(xxl) {
      padding-top: 160px;
    }
  }

  &--title {
    font-size: 55px;
    line-height: 55px;
    color: $mainGreen;
    transform: scale(0.6);
    transform-origin: left;
    max-width: 780px;

    // @include media-breakpoint-only(xs) {
    //   position: relative;
    //   top: -10vh;
    // }

    @include media-breakpoint-up(sm) {
      font-size: 85px;
      line-height: 85px;
    }

    @include media-breakpoint-up(md) {
      transform: scale(0.9);
      font-size: 70px;
      line-height: 70px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 85px;
      line-height: 85px;
      transform: scale(1);
      max-width: 780px;
    }

    &-row-2 {
      @include media-breakpoint-up(xl) {
        margin-left: -20px;
      }
    }
  }

  .m-sign-before {
    &::before {
      content: '';
      background-image: url(./../../public/assets/img/logo/m-sign/m.svg);
      width: 63px;
      height: 47px;
      display: inline-block;
      position: relative;
      left: 17px;
      top: -2px;

      @include media-breakpoint-up(xl) {
        transform: scale(1);
        left: 17px;
        top: -2px;
      }
    }
  }

  &--subtitle {
    padding-top: 50px;
    max-width: 70%;
    @include media-breakpoint-up(lg) {
      max-width: 300px;
    }
  }

  .m-letter {
    img {
      width: 65px;
      height: 52px;
      position: relative;
      top: 3px;

      @include media-breakpoint-up(lg) {
        position: relative;
        top: -39px;
      }
    }
  }

  .content-and-arrow {
    @include media-breakpoint-only(xs) {
      left: 12px;
      top: 47%;
    }
    @include media-breakpoint-down(md) {
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      position: absolute;
      left: -50px;
      top: 50%;
      transform: translate(0, -50%);
      margin-top: 0 !important;
    }

    // display: none !important;

    @include media-breakpoint-down(lg) {
      margin-top: 100px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 100px;
      display: flex;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 150px;
    }
    @include media-breakpoint-up(xxxl) {
      margin-top: 250px;
    }

    color: $mainGreen;
  }
}

//

.make-with-bg {
  height: 100vh;
  position: relative;

  &--text-block {
    padding-top: 15vh;
    font-size: 16px;
    text-transform: uppercase;
    color: $yellow;
    width: 200px;
    @include font-sans;

    @include media-breakpoint-up(lg) {
      padding-top: 180px;
    }
  }

  &--title {
    color: $yellow;
    font-size: 83px;
    position: fixed;
    left: 20px;
    bottom: 20px;
    @include font-serif;

    @include media-breakpoint-up(lg) {
      font-size: 130px;
      left: 20px;
      left: initial;
    }
  }

  .content-and-arrow {
    @include media-breakpoint-down(md) {
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      position: absolute;
      left: -50px;
      top: 50%;
      transform: translate(0, -50%);
      margin-top: 0 !important;
    }

    @include media-breakpoint-down(lg) {
      margin-top: 100px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 100px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 150px;
    }
    @include media-breakpoint-up(xxxl) {
      margin-top: 250px;
    }

    color: $yellow;
  }
}

//

.make-gallery {
  background-color: $lightGray;
  position: relative;

  @include media-breakpoint-up(lg) {
    margin-right: 0px;
    // margin-bottom: 30vh;
  }

  &--col-right {
    @include media-breakpoint-up(lg) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  // @include media-breakpoint-up(md) {
  //   min-height: 100vh;
  // }

  &--title-wrapper {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }

  &--title {
    p {
      font-size: 70px;
      line-height: 70px;
      color: $mainGreen;
      @include font-serif;

      @include media-breakpoint-up(sm) {
        font-size: 83px;
        line-height: 83px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 130px;
        line-height: 130px;
      }
    }
  }

  &--subtitle {
    width: 300px;
    padding-top: 15vh;
    @include media-breakpoint-up(lg) {
      padding-top: 180px;
    }
  }

  .content-and-arrow {
    @include media-breakpoint-down(md) {
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translate(0, -50%);
      margin-top: 0 !important;
    }

    @include media-breakpoint-down(lg) {
      margin-top: 100px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 120px;
    }
    @include media-breakpoint-up(xxl) {
      margin-top: 250px;
    }

    color: $mainGreen;
  }

  &--gallery {
    position: relative;
    padding-top: 15vh;

    // @include media-breakpoint-only(xs) {
    //   left: 15vw;
    // }

    @include media-breakpoint-up(lg) {
      // padding-right: 20px;
      top: 100px;
      padding-top: 0;
      justify-content: flex-end !important;
    }

    @include media-breakpoint-up(xxl) {
      // padding-right: 20px;
      top: 60px;
      justify-content: flex-end !important;
    }

    .make-gallery {
      &--item {
        width: 291px;
        height: 360px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px;

        @include media-breakpoint-up(lg) {
          width: 610px;
          height: 377px;
        }

        @include media-breakpoint-up(xxxl) {
          width: 610px;
          height: 377px;
        }

        &:hover {
          .make-gallery--item--content {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 1;
            @include default-transition;
          }
        }

        &--content {
          border-radius: 20px;
          width: 95%;
          height: 95%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          text-transform: uppercase;
          color: $yellow;
          opacity: 0;
          @include default-transition;
        }
      }

      div {
        display: flex;
        flex-direction: column;
        // height: 100%;

        @include media-breakpoint-up(md) {
          gap: 20px;
        }
      }
    }
  }
}

//

.contact-us {
  background-color: $lightGray;
  position: relative;

  @include media-breakpoint-up(md) {
    overflow: hidden;
    min-height: 100vh;
  }

  &--title-wrapper {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }

  &--title {
    p {
      font-size: 70px;
      line-height: 70px;
      color: $mainGreen;
      @include font-serif;

      @include media-breakpoint-up(sm) {
        font-size: 83px;
        line-height: 83px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 130px;
        line-height: 130px;
      }
    }
  }

  &--subtitle {
    padding-top: 40px;
    padding-bottom: 40px;
    @include media-breakpoint-up(lg) {
      padding-top: 180px;
      padding-bottom: 0px;
      width: 300px;
    }
  }

  .content-and-arrow {
    @include media-breakpoint-down(md) {
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translate(0, -50%);
      margin-top: 0 !important;
    }

    @include media-breakpoint-down(lg) {
      margin-top: 100px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 120px;
    }
    @include media-breakpoint-up(xxl) {
      margin-top: 250px;
    }

    color: $mainGreen;
  }

  &--gallery {
    // padding-top: 15vh;

    // @include media-breakpoint-only(xs) {
    //   left: 15vw;
    // }

    @include media-breakpoint-up(lg) {
      position: relative;
      padding-right: 20px;
      top: 100px;
      padding-top: 0;
      justify-content: flex-end !important;
    }

    @include media-breakpoint-up(xxl) {
      padding-right: 20px;
      top: 60px;
      justify-content: flex-end !important;
    }

    .contact-us {
      &--item {
        width: 291px;
        height: 360px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px;

        @include media-breakpoint-up(lg) {
          width: 610px;
          height: 842px;
        }

        @include media-breakpoint-up(xxxl) {
          width: 610px;
          height: 842px;
        }

        &:hover {
          .manage-gallery--item--content {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 1;
            @include default-transition;
          }
        }

        &--content {
          border-radius: 20px;
          width: 95%;
          height: 95%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          text-transform: uppercase;
          color: $yellow;
          opacity: 0;
          @include default-transition;
        }
      }

      div {
        display: flex;
        flex-direction: column;
        height: 100%;

        @include media-breakpoint-up(md) {
          gap: 20px;
        }
      }
    }
  }
}
