.manage--title {
  font-size: 70px;
  line-height: 70px;
  position: absolute;
  left: 0px;
  bottom: 10px;
  text-align: center;
  @include font-serif;

  // @include default-transition;

  @include media-breakpoint-only(xs) {
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    left: 20px;
    max-width: 100%;
  }

  @include media-breakpoint-only(sm) {
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    left: 20px;
    max-width: 100%;
  }

  @include media-breakpoint-only(md) {
    position: fixed;
    bottom: -30px;
    left: 50%;
  }

  @include media-breakpoint-up(md) {
    font-size: 140px;
    line-height: 140px;
    bottom: 20px;
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    font-size: 170px;
    line-height: 170px;
  }
}

.blank-hero--content__page-manage {
  margin-top: 20vh;
}

.blank-hero--manage__mobile-content {
  @include media-breakpoint-down(lg) {
    padding-top: 20vh;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    @include font-sans;
    text-align: left;
  }

  h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
    @include font-sans;
    text-align: left;
    font-weight: 500;
  }
}
