.pre--blank-hero {
  width: 100vw;
  height: 100vh;
  background-color: $lightGray;
  // margin-top: -50vh;
}

.blank-hero__with-bg {
  @include media-breakpoint-down(md) {
    height: 100vh;
  }
}

.over-ons--title {
  font-size: 70px;
  line-height: 70px;
  position: fixed;
  left: 50%;

  text-align: left;
  @include font-serif;
  // @include default-transition;

  @include media-breakpoint-up(xs) {
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    left: 0;
  }

  @include media-breakpoint-only(sm) {
    position: absolute;
    top: 85vh !important;
    left: 20px !important;
    max-width: 100%;
  }

  @include media-breakpoint-only(sm) {
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    left: 0;
    max-width: 100%;
  }

  @include media-breakpoint-up(md) {
    font-size: 140px;
    line-height: 140px;
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    font-size: 170px;
    line-height: 170px;
  }
}

.work--title {
  font-size: 70px;
  line-height: 70px;
  position: fixed;
  bottom: -30px;
  left: 20;
  text-align: left;

  @include font-serif;
  // @include default-transition;

  @include media-breakpoint-up(sm) {
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    left: 2500px;
  }

  @include media-breakpoint-up(md) {
    font-size: 140px;
    line-height: 140px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 200px;
    line-height: 200px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 230px;
    line-height: 230px;
  }

  @include media-breakpoint-up(xxl) {
    font-size: $titleSizeMax;
    line-height: 300px;
  }
}

.full-service-agency {
  padding: 20px;

  @include media-breakpoint-up(md) {
    padding: 40px;
    min-height: 100vh;
  }

  &--title-wrapper {
    @include media-breakpoint-up(md) {
      padding-top: 15vh;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 60px;
    }

    @include media-breakpoint-up(xxl) {
      padding-top: 160px;
    }
  }

  &--title {
    font-size: 55px;
    line-height: 55px;
    color: $mainGreen;
    transform-origin: left;
    max-width: 780px;
    // transform: scale(0.6);

    @include media-breakpoint-down(md) {
      margin-top: 10vh;
    }

    @include media-breakpoint-up(sm) {
      font-size: 85px;
      line-height: 85px;
    }

    @include media-breakpoint-up(md) {
      transform: scale(0.9);
    }

    @include media-breakpoint-up(lg) {
      font-size: 85px;
      line-height: 85px;
      transform: scale(1);
      max-width: 780px;
    }

    &-row-2 {
      @include media-breakpoint-up(xl) {
        margin-left: -20px;
      }
    }
  }

  .m-sign-before {
    &::before {
      content: '';
      background-image: url(./../../public/assets/img/logo/m-sign/m.svg);
      width: 63px;
      height: 47px;
      display: inline-block;
      position: relative;
      left: 17px;
      top: -2px;

      @include media-breakpoint-up(xl) {
        transform: scale(1);
        left: 17px;
        top: -2px;
      }
    }
  }

  &--subtitle {
    @include media-breakpoint-down(md) {
      margin-top: 20vh;
      margin-bottom: 20vh;
    }

    @include media-breakpoint-up(lg) {
      max-width: 300px;
      padding-top: 50px;
      max-width: 70%;
    }
  }

  &--buttons {
    @include media-breakpoint-up(lg) {
      min-width: 500px;
    }
  }

  .content-and-arrow {
    @include media-breakpoint-down(md) {
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      transform: translate(0, -50%);
      margin-top: 0 !important;
    }

    @include media-breakpoint-down(lg) {
      margin-top: 100px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 100px;
      // position: absolute;
      // left: -50px;
      // top: 50%;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 150px;
    }
    @include media-breakpoint-up(xxxl) {
      margin-top: 250px;
    }

    color: $mainGreen;
  }
}

.scroll-gallery--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 230px 160px 110px 130px;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-areas:
    'photo1 photo3'
    'photo5 photo4'
    'photo2 photo4'
    'photo2 photo6';

  @include media-breakpoint-up(md) {
    grid-template-columns: 30% 24% 16% 30%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'photo1 photo3 photo4 photo6'
      'photo2 . photo5 .';
  }
  @include media-breakpoint-up(xl) {
    padding: 100px 30px;
  }
}

.grid-area-photo1 {
  grid-area: photo1;
  @include media-breakpoint-up(xl) {
    position: relative;
    top: 24%;
  }
}

.grid-area-photo2 {
  grid-area: photo2;

  @include media-breakpoint-up(xl) {
    height: 140%;
    position: relative;
    top: 39%;
  }
}

.grid-area-photo3 {
  grid-area: photo3;

  @include media-breakpoint-up(xl) {
    height: 120%;
    position: relative;
    top: 74%;
  }
}

.grid-area-photo4 {
  grid-area: photo4;
  @include media-breakpoint-up(xl) {
    position: relative;
    top: 29%;
  }
}

.grid-area-photo5 {
  grid-area: photo5;
  @include media-breakpoint-up(xl) {
    position: relative;
    top: 59%;
  }
}

.grid-area-photo6 {
  grid-area: photo6;

  @include media-breakpoint-up(xl) {
    position: relative;
    top: 44%;
    height: 190%;
  }
}
