.influencer--photos-grid {
  img {
    @include media-breakpoint-down(md) {
      max-width: 245px;
    }
  }

  @include media-breakpoint-only(xl) {
    transform: scale(0.8);
    transform-origin: center right;
  }
}

.single-influencer {
  &--big-photo {
    @include media-breakpoint-only(xl) {
      transform: scale(0.8);
      transform-origin: center right;
    }
  }
  &--title {
    color: $yellow;
    font-size: 83px;
    position: fixed;
    left: 2000px;
    bottom: 20px;
    @include font-serif;
    z-index: 60;
    opacity: 1;

    @include media-breakpoint-up(lg) {
      font-size: 130px;
      left: 20px;
      left: initial;
      padding-left: 38px;
    }
  }

  &--title-cases {
    color: $yellow;
    font-size: 83px;
    position: fixed;
    left: 20px;
    bottom: 20px;
    @include font-serif;
    z-index: 60;
    opacity: 0;

    @include media-breakpoint-up(lg) {
      font-size: 130px;
      left: 20px;
      left: initial;
      padding-left: 38px;
    }
  }

  &--case {
    position: relative;
    width: 245px;
    height: 321px;

    @include media-breakpoint-up(lg) {
      width: 610px;
      height: 321px;
    }

    a {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 30px;
      text-decoration: none;
      opacity: 0;
      @include default-transition;
    }

    &:hover {
      a {
        opacity: 1;
        @include default-transition;
      }
    }
  }
}

.wp-block-video video {
  width: 100%;
  border-radius: 30px !important;
}

.single-influencer--bg {
  position: relative;

  &::before {
    @include media-breakpoint-down(md) {
      content: '';
      width: 100vw;
      height: 100vh;
      background: #000000a8;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.influencer-hero--inner {
  @include media-breakpoint-down(lg) {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    height: 100%;
    align-items: flex-end;
  }
}

.second-row-image_2 {
  @include media-breakpoint-up(lg) {
    position: relative;
    top: 234px;
  }
}

.img-max-w-245__mobile {
  @include media-breakpoint-down(md) {
    max-width: 245px;
    margin-bottom: 20px;
  }
}
