.footer {
  padding: 20px;
  // background-color: $fioletLight;
  // background-color: var(--footer-bg-color);
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 100vh;

  @include media-breakpoint-up(lg) {
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include media-breakpoint-up(xl) {
    padding: 40px;
    height: 100vh;
  }

  &--logo {
    margin-top: 30px;

    @include media-breakpoint-up(lg) {
      margin-top: 100px;
    }
  }

  &-col-content {
    max-width: 360px;
    text-align: left;
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      text-align: center;
    }

    @include media-breakpoint-up(lg) {
      text-align: left;
      margin-bottom: 0;
    }
  }

  h4 {
    font-size: 11px;
    @include font-sans;
    text-transform: uppercase;
    color: $mainGreen;
    padding-bottom: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li,
    a {
      font-size: 11px;
      @include font-sans;
      text-transform: uppercase;
      color: $mainGreen;
      text-decoration: none;
    }
  }

  p {
    font-size: 11px;
    @include font-sans;
    text-transform: uppercase;
    color: $mainGreen;
    margin: 0;
    padding: 0;
  }
}

// footer + section-contact-us-hero
.footer-col-xl-fixed-width {
  @include media-breakpoint-up(md) {
    width: 190px !important;
  }

  @include media-breakpoint-up(lg) {
    width: 270px !important;
  }
}
