.blank-hero {
  height: 100vh;
  padding-bottom: 20px;

  position: relative;

  @include media-breakpoint-up(lg) {
    padding: 40px;
  }

  .h1__small {
    font-size: 36px;
    line-height: 36px;
    position: absolute;
    bottom: 0px;
    left: 20px;
    width: 100%;
    text-align: left;
    @include font-serif;
    // @include default-transition;

    @include media-breakpoint-up(sm) {
      font-size: 50px;
      line-height: 50px;
      text-align: center;
      left: 0;
    }

    @include media-breakpoint-up(md) {
      font-size: 60px;
      line-height: 60px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 80px;
      line-height: 80px;
      text-align: center;
      left: 0;
    }

    @include media-breakpoint-up(xl) {
      font-size: 100px;
      line-height: 100px;
      text-align: center;
      left: 0;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 130px;
      line-height: 130px;
      text-align: center;
      left: 0;
    }
  }

  &--content {
    text-align: left;
    margin-top: 15vh;
    opacity: 1;

    @include media-breakpoint-up(lg) {
      width: 325px;
    }

    h3 {
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 30px;
      @include font-sans;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      @include font-sans;
    }
  }
}
