.case-area-pinned {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cases {
  // height: 100vh;
  padding: 20px;
  position: relative;
  @include default-transition;
  background-image: none;
  overflow: visible;

  @include media-breakpoint-up(xl) {
    padding: 40px 40px 10vh 40px;
  }

  .cases--list-item {
    // color: $mainGreen;

    &__mobile {
      display: block;
      width: 100%;
      font-size: 26px;
      text-decoration: none;
      opacity: 0.3;
      margin-bottom: 10px;
    }
  }

  &__is-bg-visible {
    .cases--list-item {
      // color: $yellow !important;
      opacity: 1;
    }
  }

  &--dynamic-bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }

  h1 {
    font-size: 70px;
    line-height: 70px;
    position: absolute;
    bottom: 0px;
    left: 20px;
    width: 100%;
    text-align: left;
    @include font-serif;
    @include default-transition;

    @include media-breakpoint-up(sm) {
      font-size: 100px;
      line-height: 100px;
      left: 20px;
    }

    @include media-breakpoint-up(md) {
      font-size: 130px;
      line-height: 130px;
    }
  }

  &--list-wrapper {
    @include media-breakpoint-down(lg) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    }
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &--list {
    @include media-breakpoint-up(lg) {
      margin-top: 10vh;
      display: flex;
      justify-content: flex-end;
    }

    .iterable {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;

      div {
        font-size: 27px;
        @include default-transition;

        @include media-breakpoint-up(sm) {
          font-size: 36px;
        }

        @include media-breakpoint-up(md) {
          font-size: 46px;
          text-align: right;
        }

        @include media-breakpoint-up(lg) {
          font-size: 56px;
        }
        @include media-breakpoint-up(xl) {
          font-size: 75px;
        }

        @include font-serif;
        color: $mainGreen;
        cursor: pointer;
        opacity: 0.3;
        @include default-transition;
        transform: scale(1);
        position: relative;
        left: 0;
        display: inline;
      }
    }
  }
}

.case {
  @include media-breakpoint-up(lg) {
    padding-bottom: 23vh;
  }
  &--photo {
    @include default-transition;
    width: 289px;
    height: 389px;
    background-color: $mainGreen;
    border-radius: 15px;
  }

  &--info {
    // @include default-transition;
    // position: absolute;
    // left: calc(289px + 40px);
    // top: 120px;
    // transform: translate(-50% -50%);
    // width: 260px;
    // text-transform: uppercase;
  }
}
