@keyframes influencer-heading {
  0% {
    left: 0;
  }
  50% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

.single-influencer-fixed-heading {
  font-size: 36px;
  line-height: 36px;
  position: fixed;
  bottom: 0px;
  left: 250%;
  width: 100%;
  text-align: left;
  z-index: 60;
  @include font-serif;
  display: inline-flex;
  animation: influencer-heading 55s infinite;
  span {
    display: inline-block;
    margin-right: 100px;
  }
  @include media-breakpoint-up(sm) {
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    left: 0;
  }

  @include media-breakpoint-up(md) {
    font-size: 60px;
    line-height: 60px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    left: 0;
  }

  @include media-breakpoint-up(xl) {
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    left: 0;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 130px;
    line-height: 130px;
    text-align: center;
    left: 0;
  }
}

.influencer-hero {
  // height: 100vh;

  position: relative;

  // @include media-breakpoint-up(lg) {
  //   padding: 40px;
  // }

  .first-row,
  .second-row,
  .third-row {
    @include media-breakpoint-up(lg) {
      min-height: 100vh;
    }
  }

  .second-row,
  .third-row {
    @include media-breakpoint-up(lg) {
      padding-right: 7vw;
    }
  }

  h1 {
    font-size: 70px;
    line-height: 70px;
    position: absolute;
    bottom: 0px;
    left: 20px;
    width: 100%;
    text-align: left;
    @include font-serif;

    @include media-breakpoint-up(sm) {
      font-size: 80px;
      line-height: 80px;
      text-align: center;
      left: 0;
    }

    @include media-breakpoint-up(md) {
      font-size: 100px;
      line-height: 100px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 100px;
      line-height: 100px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 130px;
      line-height: 130px;
    }
  }

  &--content {
    text-align: left;
    margin-top: 15vh;
    opacity: 1;
    position: relative;
    top: 0;

    @include media-breakpoint-up(lg) {
      width: 325px;
      margin-top: 19vh;
    }

    @include media-breakpoint-up(xxl) {
      width: 325px;
      margin-top: 20vh;
    }

    h3 {
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 30px;
      @include font-sans;

      @include media-breakpoint-up(lg) {
        margin-bottom: 60px;
      }

      @include media-breakpoint-up(xxl) {
        margin-bottom: 110px;
      }
    }

    p {
      font-size: 16px;
      line-height: 20px;
      @include font-sans;
    }
  }
}

.influencer-cases {
  .second-row {
    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
  }
}
