.influencers {
  height: 100vh;
  padding: 20px;
  position: relative;

  @include media-breakpoint-up(xl) {
    padding: 40px 40px 0px 40px;
  }

  h1 {
    font-size: 70px;
    line-height: 70px;
    position: absolute;
    bottom: 0px;
    left: 20px;
    width: 100%;
    text-align: left;
    @include font-serif;
    @include default-transition;

    @include media-breakpoint-up(sm) {
      font-size: 100px;
      line-height: 100px;
      left: 20px;
    }

    @include media-breakpoint-up(md) {
      font-size: 130px;
      line-height: 130px;
    }
  }

  &--list-wrapper {
    @include media-breakpoint-down(lg) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    }
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &--list {
    @include media-breakpoint-up(lg) {
      margin-top: 40vh;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 200px;
    }

    .iterable {
      display: flex;
      flex-direction: column;
      align-items: self-end;
      justify-content: flex-end;

      div {
        font-size: 27px;

        @include media-breakpoint-up(sm) {
          font-size: 36px;
        }

        @include media-breakpoint-up(md) {
          font-size: 46px;
        }

        @include media-breakpoint-up(lg) {
          font-size: 5 6px;
        }
        @include media-breakpoint-up(xl) {
          font-size: 75px;
        }

        @include font-serif;
        color: $mainGreen;
        cursor: pointer;
        opacity: 0.1;
        @include default-transition;
        transform: scale(1);
        position: relative;
        left: 0;
        display: inline;

        &:hover {
          opacity: 1;
          transform: scale(1.03);
          left: 5px;

          .influencer--photo {
            transform: scale(1.03);
          }
        }
      }
    }
  }
}

.influencer {
  @include media-breakpoint-up(lg) {
    padding-bottom: 23vh;
  }
  &--photo {
    width: 289px;
    height: 389px;
    background-color: $mainGreen;
    border-radius: 15px;
  }

  &--info {
    position: absolute;
    left: calc(289px + 40px);
    top: 120px;
    transform: translate(-50% -50%);
    width: 260px;
    text-transform: uppercase;
  }
}
