.main-menu {
  background-color: $lightGray;
  height: 100vh;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    height: 100%;
    padding: 0;
    margin: 0;

    a {
      color: $mainGreen;
      text-decoration: none;
      font-weight: 300;
      font-size: 70px;
      font-family: 'Kaisei Opti', serif;

      @include media-breakpoint-up(md) {
        font-size: 130px;
        opacity: 0.1;
        @include default-transition;
      }

      &:hover {
        @include default-transition;
        @include media-breakpoint-up(md) {
          opacity: 1;
        }
      }
    }
  }
}
