.our-reach--counter {
  font-size: 10px;
  color: $mainGreen;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 130px;

  position: fixed;
  left: 5px;
  top: 40vh;
  z-index: 200;

  @include media-breakpoint-up(lg) {
    left: 40px;
    top: 24vh;
  }

  p {
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .our-reach-unit {
    font-size: 35px;
    text-transform: none;

    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
  }

  &-value {
    font-size: 35px;

    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
  }

  &__facebook {
    top: 40vh;
  }

  &__insta {
    top: 60vh;
  }

  &__make-page {
    top: 40vh;
  }
}
