.our-reach--counter {
  font-size: 10px;
  color: var(--counter-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 130px;
  position: fixed;
  left: 5px;
  top: 17vh;
  z-index: 200;

  @include media-breakpoint-up(lg) {
    left: 40px;
    top: 24vh;
  }

  p {
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .our-reach-unit {
    font-size: 35px;
    text-transform: none;

    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
  }

  &-value {
    font-size: 35px;

    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
  }

  &__facebook {
    top: 33vh;
  }

  &__insta {
    top: 53vh;
  }

  // single case page

  &__influencers {
    top: 17vh;
  }

  &__total-reach-single_case {
    top: 33vh;
  }

  &__engagement {
    top: 49vh;
  }

  &__clicks {
    top: 67vh;
  }
}

// single influencer page counter

body.single-influencer_post_type {
  .our-reach--counter {
    &__facebook {
      top: 24vh;
    }

    &__insta {
      top: 47vh;
    }
  }
}
