.top-bar {
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: $topBarHeight;
  background-color: transparent;
  z-index: 2;

  @include media-breakpoint-up(md) {
    padding: 40px;
  }

  &--logo {
    a {
      cursor: pointer;

      &:hover {
        svg {
          @include default-transition;
          transform: scale(1.1);
        }
      }

      @include media-breakpoint-up(md) {
        position: relative;
        top: -4px;
      }
    }

    svg {
      @include default-transition;
      transform: scale(1);

      @include media-breakpoint-down(sm) {
        width: 85px;
      }
    }
  }

  &--contact-link,
  &--page-title {
    font-size: 10px;
    color: $mainGreen;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-bottom: 0;
    @include font-sans;
  }

  &--contact-link {
    margin-right: 40px;
    opacity: 1;
    transform: scale(1);
    @include default-transition;

    &:hover {
      color: $mainGreen;
      opacity: 0.8;
      transform: scale(1.1);
      @include default-transition;
    }
  }

  .hamburger {
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      @include default-transition;
      transform: scale(1);
    }

    &:hover {
      svg {
        @include default-transition;
        transform: scale(1.2);
      }
    }
  }

  .cross__single-influencer {
    svg line {
      stroke: $mainGreen !important;
    }

    svg {
      stroke: $mainGreen !important;
    }

    svg circle {
      stroke: $mainGreen !important;
    }
  }
}

.color-yellow {
  .top-bar--contact-link,
  .top-bar--page-title {
    color: $yellow !important;
  }

  svg line {
    stroke: $yellow !important;
  }

  svg path {
    fill: $yellow !important;
  }

  .cross__single-influencer {
    svg line {
      stroke: $yellow !important;
    }

    svg {
      stroke: $yellow !important;
    }

    svg circle {
      stroke: $yellow !important;
    }
  }
}

// <a href="<?php echo get_home_url('', 'influencer-list') ?>" class="cross__single-influencer">
// <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
//     <line x1="20.2741" y1="19.7678" x2="39.2741" y2="37.6502" stroke="#E7FFC8" stroke-width="0.8" />
//     <line x1="19.7172" y1="37.9423" x2="38.1668" y2="19.4926" stroke="#E7FFC8" stroke-width="0.8" />
//     <circle cx="29" cy="29" r="28.6" stroke="#E7FFC8" stroke-width="0.8" />
// </svg>
// </a>
