:root {
  --bs-border-color: rgb(65, 65, 65) !important;
}

.bg-cover {
  background-size: cover;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-center {
  background-position: center top;
}

.bg-violet {
  background-color: $fioletLight;
}

.bg-light-gray {
  background-color: $lightGray;
}

//

.color-yellow {
  color: $yellow !important;
}

.color-green {
  color: $mainGreen !important;
}

.cursor-pointer {
  cursor: pointer;
}

//

.br-30 {
  border-radius: 30px;
}

.link-green-unstyled {
  text-decoration: none !important;
  color: $mainGreen;
  &:hover {
    color: $mainGreen;
  }
}

.link-yellow-unstyled {
  text-decoration: none !important;
  color: $yellow;
  &:hover {
    color: $yellow;
  }
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}
